<%- include('partials/header') %>
<style>
  .greeting-dashboard {
    color: white;
    background-color: #1a1a1a;
    padding: 1rem;
    padding-left: 4rem;
    border-radius: 1rem;
    margin: 1rem;
  }
</style>
<div class="greeting-dashboard">
  <h3>Hello</h3>
  <h2><%= userName %>,</h2>
</div>
<%- include('partials/footer') %>
