
<%- include('partials/header') %>
<div id="dialog" class="container mt-5">
    <div class="card">
        <div class="card-header bg-success text-white">
            Loan Approved
        </div>
        <div class="card-body">
            <p class="card-text">Congratulations! Your loan has been approved.</p>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
