<%- include('partials/header') %>
<style>
    .dunno {
        color: white;
        text-align: left;
        margin: 3rem;
    }
</style>
<div class="dunno">
    <p>Amount: <%= amount %></p>
    <p>Duration: <%= duration %></p>
</div>
<%- include('partials/footer') %>
