<%- include('partials/header') %>
    <div class="loginBody">
      <div class="loginForm" >
        <h1>Login</h1>
        <form action="/login" method="POST">
          <div class="x">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
              required
            />
          </div>
          <div class="x">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <button class="loginButton" type="submit">Login</button>
        </div>
      </form>
    </div>
<%-include('partials/footer')%>