<%- include('partials/header') %>
<style>
  .form-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    margin: 5rem;
    border-radius: 2rem;
  }
  .transfer-form {
    width: 300px;
    margin: 0 auto;
    text-align: left;
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
  }

  .form-input {
    background-color: rgb(203, 203, 203);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-button:hover {
    background-color: #bebebe;
  }
</style>
<div class="form-container">
  <form action="/transfer-savings-do" method="POST" class="transfer-form">
    <label for="fromAccount" class="form-label">From Account:</label>
    <input
      type="text"
      id="fromAccount"
      name="fromAccount"
      required
      class="form-input"
    />

    <label for="toAccount" class="form-label">To Account:</label>
    <input
      type="text"
      id="toAccount"
      name="toAccount"
      required
      class="form-input"
    />

    <label for="amount" class="form-label">Amount:</label>
    <input
      type="number"
      id="amount"
      name="amount"
      required
      class="form-input"
    />

    <button type="submit" class="form-button">Transfer</button>
  </form>
</div>

<%- include('partials/footer') %>
